.notificationSettings {
	display: flex;
	flex-direction: column;
	gap: 32px;
	position: fixed;
	padding: 32px;
	border-radius: 32px;
	background-color: #ffff;
	z-index: 11;
	top: 27%;
	left: 32%;
}

@media screen and (max-width:1200px) {
	.notificationSettings {
		position: absolute !important;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}