.loader {
	display: flex;
	gap: 14px;
	align-items: center;

	&_img {
		width: 24px;
		height: 24px;
		animation: rotateImg 1.0s ease-in-out infinite;
	}
}

@keyframes rotateImg {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(720deg);
	}
}