.cardorderEditCard {
	background-color: #fff;
	padding: 32px;
	border-radius: 32px;
	display: flex;
	flex-direction: column;
	gap: 32px;
	width: 1200px;
}

.overlay_cardorder {
	display: flex;
	justify-content: center;
	padding-bottom: 32px;
	padding-top: 105px;
}