.vendor {
  position: relative;

}
.categoryType{
	width: 1200px;
	height: 413px;
	background-color: #fff;
	padding: 32px;
	border-radius: 32px;
}

@media screen and (max-width:1200px) {
	.categoryType_overlay{
		padding-top: 25px !important;
	}
	.categoryType{
		transform: scale(0.65);
	}
}