.tooltipModal{
	position: absolute;
  top:30px;
	left: -10px;
	animation: showModal 0.3s ease-in-out;

	&::before{
			content:'';
				display:block;
				width:0;
				height:0;
				position:absolute;	
				border-right: 8px solid transparent;
				border-left: 8px solid transparent;
				border-bottom:8px solid rgb(0, 0, 0);
				left:15px;
				top:-7px;	 
	}
}
@keyframes showModal {
	from{
    opacity: 0;
	}
	to{
    opacity: 1;
	}
}