.container {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.container_block {
    display: flex;
    flex-direction: column;
}