.container1 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 32px;
    padding-bottom: 32px;


    &_radio {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }



    input {
        width: 100%;
        background-color: #F4F3F1;
        border: 1px solid #C5C5C5;
        height: auto;
        border-radius: 8px;
        font-size: 18px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

.container2 {

    input {
        width: 67px;
        height: 80px;
        border-radius: 8px;
        background-color: #F4F3F1;

    }
}

.container3 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;

    input[type="password"] {
        width: 100%;
        background-color: #F4F3F1;
        height: auto;
        border-radius: 8px;
        font-size: 18px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    label {
        font-size: 16px;
        font-weight: 300;
    }
}

.resetContainer3 {
    animation: showModal 0.4s ease-in-out;
    min-width: 505px;
    background-color: white;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    padding: 32px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 10px 14px 0px, rgba(0, 0, 0, 0.05) 0px 2px 2px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px;
    z-index: 11;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.resetContainer4 {
    animation: showModal 0.4s ease-in-out;
}

@keyframes showModal {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}